.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 46, 46, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 750px;
    min-height: 360px;
    box-sizing: border-box;
    background-color: #dddddd;
    color: #2A2F2F;;
    border-radius: 10px;


    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-family: Roboto,sans-serif;
        font-weight: 400;

        .modal-header {
            width: 750px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(12, 178, 178);
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            & h2 {
                margin: 0 35px;
                font-size: 24px;
            }
            .modal-close {
                position: absolute;
                right: 45px;
                top: 20px;
                font-size: 40px;
                font-weight: 100;
                display: inline-flex;
                vertical-align: middle;
                text-align: center;
                box-sizing: border-box;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: transparent;
            }
        }
        .modal-body {
            margin-top: 20px;
        }
        .item-wrapper__modal {
            width: 650px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item-text__modal {
                width: 420px;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .item-name__modal {
                    font-weight: 600;
                }
            }

            .add-remove-btn__wrapper {
                width: 160px;
                height: 20px;
                padding: 0 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .minus-from-cart,
                .plus-to-cart,
                .close-item__modal {
                    width: 30px;
                    height: 100%;
                    margin: 0 5px;
                    padding: 0;
                    font-size: 18px;
                    background-color: #ddd;
                    color: #3C4242;
                }
                .quantity-product {
                    width: 30px;
                    height: 100%;
                    font-size: 18px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .close-item__modal {
                    background-color: #3C4242;
                    color: #ddd;

                    &:hover {
                        background-color: #3C4242;
            color: rgb(12, 178, 178);

                    }
                }
            }
        }
        .total-price__modal {
            position: relative;
            padding: 10px 0 20px;
            right: -20px;
            font-size: 18px;
            font-weight: 600;
            border-top: 0.5px solid #dddddd;

        }

        .btn__favorite-modal {
            margin: 10px 15px 15px;
            width: 150px;
            height: 30px;
            font-size: 12px;
            font-weight: 600;
            color: #2A2F2F;
            border-radius: 25px;
            background-color: #fff;
            border: 1.5px solid #dddddd;

            &:hover {
                background-color: #3C4242;
            color: rgb(12, 178, 178);
            }
        }
    }
}