#root {
  width: 100%;
  // background-color: #dddd33;
  background: rgb(12, 178, 178);
}

.container {
  width: 1200px;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  z-index: 10;

  .header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
    background: rgba(12, 178, 178, 0.3);
    backdrop-filter: blur(2px);
  }

  .title {
    margin-left: 70px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #7a7a7c;

    & span {
      color: #3C4242;
      font-size: 36px;
    }

  }

  .icon-title {
    display: flex;
  }

  .icons-wrapper {
    margin: 0 70px 20px 0;
    padding: 5px 10px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #dddddd;
    box-shadow: 2px 3px 3px 0 rgba(0,0,0,0.2);



    & span {
      width: 12px;
      margin-left: 8px;
      font-size: 20px;
      color: #3C4242;
    }

    .fa-sm {
      font-size: 0.75em;
    }

    .cart-shopping-wrapper,
    .star-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }


}





